/* Body style */

.primary-color {
    background-color: #1F1F2D;
}

.secondary-color {
    background-color: #5D5E76;
}

.navbar-button-hover:hover {
    background-color: white;
    color: black;
    border-radius: 9px;
    transition: border-radius 0.5s linear

}

.container {
  max-width: 80vw;

  height: 91vh;
}


.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1030;
}

a.anchor {
  display: inline-block;
  position: relative;
  top: -100px;
  z-index: 2;
  visibility: visible;
}



.border-rounded {
    border-radius: 3px;
    color: white;
    transition: border-radius 0.5s linear

}

.page-title{
    font-size: 1.5rem;
}

html, body {
    scroll-behavior: smooth;
    overflow: hidden;
    overflow-x: hidden;
  }
  body {
    display: flex;
    flex-direction: column;

  }
  .content {
    flex: 1 0 auto;
  }
  .footer {
    flex-shrink: 0;
  }

@media (max-width: 992px) {
  html {
    scroll-behavior: smooth;
    overflow: scroll;
  }
  body {
    overflow: scroll;
  }
}

.footer-copyright-text {
    color: white;
    font-size: 0.7rem;
    font-style: italic;
}

hr.solid {
  border-top: 3px solid #bbb;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
}

.divider::before,
.divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #5D5E76;
}

.divider-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
}

.divider-title::before{
  
  content: '';
  margin-left: 3rem;
  flex: 1;
  border-bottom: 1px solid #1F1F2D;
}
.divider-title::after{
  content: '';
  margin-right: 3rem;
  flex: 1;
  border-bottom: 1px solid #1F1F2D;

}

.divider:not(:empty)::before {
  margin-right: .5em;
}

.divider:not(:empty)::after {
  margin-left: .5em;
}

.white-filter {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(10deg) brightness(102%) contrast(102%);
}

.svg-hover {
  transition : transform 0.2s linear;
}

.svg-hover:hover {
  transform: scale(1.2);
  transition: transform 0.2s linear;
  
}

/* Canvas stuff */

#canvas-container canvas, #overlay {
  width: 100%;
  height: calc(100vh - 25px);
  
}

canvas {
  background-color: black;
  pointer-events: auto;

}

.canvas-position {
  align-items: center;
  display: flex;
  height: 100px;
  position: absolute;
  pointer-events: none;
}

.canvas-text {
  color: greenyellow;
  font-family: inconsolata, monospace;
  font-size: 7rem;;
  max-height: 100px;
  text-align: center;
  pointer-events: auto;
  white-space: wrap;
  line-height: 5rem;
  overflow-wrap: break-word; /* Ensure text wraps within the container */
  word-break: break-word;
}
@media (max-width: 768px) {
  .canvas-text {
    font-size: 4rem;
    line-height: 4rem;
  }
  #canvas-container canvas, #overlay {
    height: calc(100vh);
  
  }

  a.anchor {
    position: relative;
    top: -150px;
    visibility: hidden;
  }
}

.canvas-description-position {
  
  color: greenyellow;
  font-family: 'Inconsolata', monospace;
  opacity: 0;
  width: 100%;
  width: 25rem;
  font-size: 1.25rem;
  text-align: center;
  pointer-events: auto;

}


.canvas-email {
  opacity: 0;
  font-weight: bold;
  font-size: 1.25rem;
  text-align: center;
  pointer-events: auto;
}

#animatedText {
  flex-wrap: wrap;
}

.fade-in {
  opacity: 1;
}

.blinking-cursor {
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  from, to { opacity: 1; }
  50% { opacity: 0; }
}

@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}


/* Go top button stuff */

.text-bold {
  font-weight: bold;
  letter-spacing: 3px;
}

#top_button {
  display: none;
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease, visibility 1s;
}

#top_button.show {
  display: block;
  opacity: 1;
  visibility: visible;
}

#top_button img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}


/* cards stuff */

.card-button-1 {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.2s linear;

}

.project-card {
  min-width:300px;
  max-width: 300px;
  min-height: 400px;
  max-height: 400px;
  
  overflow: hidden;
  padding: 0;
  scale: 1;
  background-color: #1F1F2D;
  color: white;
  border: 2px solid #3D4051;
  transition:  min-width 0.2s ease-in-out, min-height 0.3s linear, max-width 0.2s ease-in-out, max-height 0.3s linear, scale 0.2s ease-in-out;

}

.project-div {
  opacity: 0;
  overflow: hidden; /* Hide the overflowing content */
  position: relative;
  /* Hide the scrollbar */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  max-height: 88vh;
  min-height: 88vh;
}

.skill-div {
  overflow: hidden; /* Hide the overflowing content */
  position: relative;
  /* Hide the scrollbar */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  height: calc(88vh);
  justify-content: center;
  align-items: center;
}


.project-div:hover {
  overflow-y: scroll;
  
}

.related-projects {
  top: 0px;
  position: relative;
  transition: top 0.2s ease-in-out;
}

.related-projects:hover {
  top: -5px;
  transition: top 0.2s ease-in-out;
}

.project-card:hover {
  scale: 1.05;
  min-height: 450px;
  max-height: 450px;

  transition: min-height 0.2s ease-in-out, max-height 0.3s ease-in-out, scale 0.2s ease-in-out;
  .card-text { 
    color: white;
    transition: color 0.2s ease-in-out;
  }
  .card-button-1 {
    opacity: 1;
    transition: opacity 0.2s linear;
  
  }


}

@media (max-width: 768px) {
  .project-card {
    min-width:500px;
    max-width: 500px;
    min-height: 500px;
    max-height: 500px;
  }
}

.project-icons{
  display: flex;
  justify-content: end;
  padding-inline-end: 1rem;
  align-items: end;

}

.language-icons {  
  opacity: 0;
  display: flex;
  justify-content: center;
  padding-inline-start: 1rem;
  align-items: start;

}

.fadeOutUp {
  opacity: 1;
  animation-name: fadeOutUp;
  -webkit-animation-name: fadeOutUp;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}


@keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}



.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
  opacity: 0
}

.fadeInUp {
  opacity: 1;
  animation-name: fadeOutUp;
  -webkit-animation-name: fadeOutUp;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

.fadeOut {
  opacity: 1;
  animation-name: fadeOut;
  -webkit-animation-name: fadeOut;

}

.animatedFadeOut {
  opacity: 1;
}

.animatedFadeOutUp {
  opacity: 1;
}

.fadeOutUp {
  opacity: 1;
  animation-name: fadeOutUp;
  animation-duration: 0.275s;
  -webkit-animation-name: fadeOutUp;
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;

}

.card-text{
  line-height: auto;
  font-size: 16px;
  overflow: hidden; /* Hide the overflowing content */
  position: relative;
  /* Hide the scrollbar */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  max-height: 200px;
  color: rgb(117, 117, 129);
  transition: color 0.2s ease-in-out;
}

.card-text:hover {
  overflow-y: scroll;
}

.card-title {
  display: inline-block;
  max-width: 100%;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Progress bar stuff */

.progress-bar {
  height: 30px;
  width: 100%;
  background-color: #BFADA3;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 2px 0 10px inset rgba(0,0,0,0.2);
  position: relative;
}

* + .progress-bar {
  margin-top: 2rem;
}

.bar {
  width: 0;
  height: 100%;
  background-color: #1F1F2D;
  
  /*Lollipop background gradient*/
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .2) 50%,
    rgba(255, 255, 255, .2) 75%,
    transparent 75%,
    transparent
  );
 
  background-size: 30px 30px;
  animation: move 2s linear infinite;
  box-shadow: 2px 0 10px inset rgba(0,0,0,0.2);
  transition: width 2s ease-out;
}

/*Lollipop background gradient animation*/
@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 30px 30px;
  }
}

.perc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff00;
}

.project-title {
  margin-bottom: -1rem;
  margin-top: 1rem;
  display: flex;
  align-items: flex-end;
  width: 100%;
  font-family: 'Libre Franklin', monospace;
  color: white;
}

.image-background {
  background-color: #adadad48;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 128px;
  height: 128px;
  margin-inline: 0.5rem;
  border-radius: 5px;
}

/* CSS for the images */
.project-image-list-item {
  max-width: 128px;
  max-height: 128px;
  width: auto;
  height: auto;
  scale: 1;
  transition: scale 0.2s ease-in-out;
}

.project-image-list-item:hover {
  scale: 1.1;
  transition: all 0.2s ease-in-out;
}

.rounded {
  border-radius: 10px;
}

.container-view-project {
  width: 100%;
  height: 88vh;
  display: flex;

  margin-top: 2rem;
  margin-bottom: 4rem;
  justify-content: center;
  align-items: center;
}

.project-box {
  width: 70%;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  justify-content: center;
}

@media (max-width: 768px) {
  .container-view-project {
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
  .project-big-image-carousel {
    height: 64px;
    max-height: 64px;
    margin-bottom: 0;
  }
  .project-big-image {
    max-height: 96px;
  }
  .image-background {
    width: 64px;
    height: 64px;
  }
  .project-image-list-item {
    max-width: 64px;
    max-height: 64px;
  }
  .project-box {
    width: 99%;
    height: 90%;
  }
}

@media (max-width: 991px) {
  .container-view-project {
    margin-bottom: 0;
    padding-top: 60px;
  }
  
  .project-view-description {
    padding: 1rem;
    max-height: 20%;
  }

  .project-box {
    width: 99%;
    height: 90%;
  
  }
}

.project-big-image-container {
  width: 100%;
  min-height: 400px;
  max-height: 500px;
  justify-content: center;
  position: relative;
  overflow: hidden; /* Ensure content stays within the container */
}

.project-big-image {
  width: auto;
  height: auto;
  min-height: 400px;
  max-height: 500px;
  display: block; /* Ensure the image is block-level to contain the carousel */
  margin: 0 auto; /* Center the image horizontally */
  position: relative; /* Establish a containing block for the carousel */
}
.project-big-image-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 128px;
  overflow: hidden;
  position: absolute; /* Changed from relative to absolute */
  bottom: -100px; /* Position it at the bottom of the container */
  width: 39rem; /* Ensure the carousel spans the full width of the container */
  opacity: 0.5;
  padding-left: 1rem;
  padding-right: 2rem;
  margin-bottom: 2rem;
  justify-content: start;
  transition: opacity 0.2s ease-in-out, bottom 0.2s ease-in-out;
}
@media (max-width: 768px) {
  .project-big-image-carousel {
    bottom: -40px;
  }
}

.project-big-image-carousel:hover {
  opacity: 1;
  bottom: 0;
  transition: opacity 0.2s ease-in-out, bottom 0.2s ease-in-out;

}

.project-view-description {
  display: flex;
  justify-content: start;
  align-items: start;
  margin-top: 0.75rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  height: 100%;
  color: rgb(255, 255, 255);
  background-color: #5D5E76;
  font-size: 1.25rem;
  font-family: 'Roboto', monospace;
  overflow: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
@media (max-width: 768px) {
  .project-view-description {
    max-height: 26%;
  }
  
}

.project-view-description:hover {
  overflow-y: scroll;
}

.rounded-5 {
  border-radius: 50px;
}

.svg-circle {
  border-radius: 50%;
  margin-bottom: 5px;
}

.border-grey {
  border: 2px solid rgb(62, 69, 107);
}

.image-fullscreen-view {
  display: none; /* Hide by default */
  flex-direction: column;
  width: 100%;
  height: 100%;
  z-index: 1100;
  position: absolute;
  background-color: #1f1f2d62;
  justify-content: center;
  align-items: center;
  padding: 5%;
  margin-top: -45px;
}

.image-fullscreen-view.show {
  display: flex; /* Show the fullscreen view */
  opacity: 1; /* Fully visible */
}

.image-fullscreen-view.hidden {
  display: none; /* Show the fullscreen view */
  opacity: 0; /* Fully visible */
}

.project-big-image-carousel-fullscreen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  position: relative;
  min-height: 136px;
  width: 100%;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: hidden;
}

@media (max-width: 768px) {
  .project-big-image-carousel-fullscreen {
    min-height: 96px;
  }
}

.fullscreen-image {
  width: 95%;
  height: 100%;
  max-height: 80vh;
  max-width: 80vw;
  display: flex;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: #1F1F2D;
  border-radius: 10px;
  min-height: 70vh;
  overflow: hidden;
}

img {
  max-height: 100%;
}

.project-image {
  transition: transform 0.2s ease-in-out;
}