/* Body style */

.primary-color {
    background-color: #1F1F2D;
}

.secondary-color {
    background-color: #5D5E76;
}

.navbar-button-hover:hover {
    background-color: white;
    color: black;
    border-radius: 9px;
    transition: border-radius 0.5s linear

}

.border-rounded {
    border-radius: 3px;
    color: white;
    transition: border-radius 0.5s linear

}

.page-title{
    font-size: 1.5rem;
}

html, body {
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  .content {
    flex: 1 0 auto;
  }
  .footer {
    flex-shrink: 0;
  }

.footer-copyright-text {
    color: white;
    font-size: 0.7rem;
    font-style: italic;
}

hr.solid {
  border-top: 3px solid #bbb;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
}

.divider::before,
.divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #5D5E76;
}

.divider-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
}

.divider-title::before{
  
  content: '';
  margin-left: 3rem;
  flex: 1;
  border-bottom: 1px solid #1F1F2D;
}
.divider-title::after{
  content: '';
  margin-right: 3rem;
  flex: 1;
  border-bottom: 1px solid #1F1F2D;

}

.divider:not(:empty)::before {
  margin-right: .5em;
}

.divider:not(:empty)::after {
  margin-left: .5em;
}

.white-filter {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(10deg) brightness(102%) contrast(102%);
}

.svg-hover {
  transition : transform 0.2s linear;
}

.svg-hover:hover {
  transform: scale(1.2);
  transition: transform 0.2s linear;
  
}

/* Canvas stuff */

#canvas-container canvas, #overlay {
  width: 100%;
  height: 400px;
}

canvas {
  background-color: black;
  pointer-events: auto;
}

.canvas-position {
  align-items: center;
  display: flex;
  height: 100px;
  position: absolute;
  pointer-events: none;
}

.canvas-text {
  color: greenyellow;
  font-family: inconsolata, monospace;
  font-size: 5rem;
  max-height: 100px;
  text-align: center;
  pointer-events: auto;
  white-space: wrap;
  line-height: 5rem;
  overflow-wrap: break-word; /* Ensure text wraps within the container */
  word-break: break-word;
}


.canvas-description-position {
  
  color: greenyellow;
  opacity: 0;
  width: 100%;
  width: 25rem;
  font-size: 1.5rem;
  text-align: center;
  pointer-events: auto;

  transition: opacity 2s ease;
}

.canvas-email {
  opacity: 0;
  font-weight: bold;
  font-size: 1.25rem;
  text-align: center;
  pointer-events: auto;
  transition: opacity 2s ease;
}

#animatedText {
  flex-wrap: wrap;
}

.fade-in {
  opacity: 1;
}

.blinking-cursor {
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  from, to { opacity: 1; }
  50% { opacity: 0; }
}

.canvas-description-position:after {
  content: 'Python';
  font-size: 100%;
  animation-name: change-letter;
  animation-duration: 11s;
  text-align: start;
  animation-iteration-count: infinite;
  animation-timing-function: step-end;
  font-weight: bolder;
}

@keyframes change-letter {
  0% {
    opacity: 1;
    color:#2596be;
    font-weight: bold;
    content: "Python";
  }
  13% {
    opacity: 1;
    
    color:#f7e025;
    content: "Javascript"
  }
  26% {
    opacity: 1;
    color: #1844FF;
    content: "Django"
  }
  39% {
    opacity: 1;
    color: red;
    content: "AppsScript"
  }
  51% {
    opacity: 1;
    color: green;
    content: "Spreadsheets"
  }
  64% {
    opacity: 1;
    color: #FF5F00;
    content: "HTML/CSS"
  }
  75% {
    opacity: 1;
    color: gray;
    content: "APIs"
  }
  87% {
    opacity: 1;
    color: rgb(223, 73, 223);
    content: "Data Reports"
  }
}



@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}


/* Go top button stuff */

.text-bold {
  font-weight: bold;
  letter-spacing: 3px;
}

#top_button {
  display: none;
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease, visibility 1s;
}

#top_button.show {
  display: block;
  opacity: 1;
  visibility: visible;
}

#top_button img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}


/* cards stuff */
.project-card {
  min-width:300px;
  max-width: 300px;
  min-height: 400px;
  max-height: 400px;
  
  overflow: hidden;
  padding: 0;
  scale: 1;
  background-color: #1F1F2D;
  color: white;
  border: 2px solid #3D4051;
  transition:  min-width 0.2s ease-in-out, min-height 0.3s linear, max-width 0.2s ease-in-out, max-height 0.3s linear, scale 0.2s ease-in-out;

}

.project-card:hover {
  scale: 1.05;
  min-height: 500px;
  max-height: 500px;
  transition: min-height 0.2s ease-in-out, max-height 0.3s ease-in-out, scale 0.2s ease-in-out;
  .card-text { 
    color: white;
    transition: color 0.2s ease-in-out;
  }

}

@media (max-width: 768px) {
  .project-card {
    min-width:500px;
    max-width: 500px;
    min-height: 500px;
    max-height: 500px;
  }
}

.project-icons{
  display: flex;
  justify-content: space-evenly;
  align-items: end;

}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;

}

.card-text{
  line-height: auto;
  font-size: 16px;
  color: rgb(117, 117, 129);
  transition: color 0.2s ease-in-out;
}

.card-title {
  display: inline-block;
  max-width: 100%;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
