{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="fullscreen_container" class="image-fullscreen-view ">
    <div class="fullscreen-image ">
        <img id="project-image-displayed-fullscreen" class="project-image justify-content-center"  src="{{ images.first.image.url }}">         
    </div>   
    <div id="image_buttons" class="project-big-image-carousel-fullscreen rounded-5 ">
        {% for image in images %}
            {% if image.exists %}
            <div class="image-background" style="cursor: pointer;">
                <img class="project-image-list-item" src="{{ image.image.url }}" onclick="changeImageFullscreen(this)">
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

<div class="container-view-project">


    <div class="project-box rounded primary-color border-grey">
        <div class="project-big-image-container border-grey rounded secondary-color d-flex">
            <img id="project-image-displayed" class="project-big-image"  src="{{ images.first.image.url }}" onclick="displayImageFullscreen(this)">
            
            <div id="image_buttons_2" class="project-big-image-carousel col-md-5 rounded-5">
                {% for image in images %}
                    {% if image.exists %}
                    <div class="image-background" style="cursor: pointer;">
                        <img class="project-image-list-item" src="{{ image.image.url }}" onclick="displayImage(this)">
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class=" d-flex">
            <div class="project-title">
                <h2> {{ project.title }}</h2>
            </div>
        </div>
        <div class="project-view-description border-grey px-2 rounded ">
            {{ project.description }}
        </div>
        <div class="w-100 rounded-5 pt-3 d-flex flex-fill justify-content-center align-items-center">
            {% for language in project.languages.all %}
                <div class="svg-circle border-grey mx-2 d-flex secondary-color align-items-center justify-content-center p-3">
                    <img class="svg-hover" title="{{ language.name }}" height="56" width="56" src="{% static '/svg/' %}{{ language.svg }}" />
                </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}