<div class="search-dropdown">
    <form>
        {% csrf_token %}
        <select 
            class="form-select text-center border-0 primary-color text-light"
            style="font-size: 1.5rem;" 
            type="search" 
            name="search"
            hx-post="{% url 'search-language' %}"  
            hx-trigger="change delay:200ms, search, load" 
            hx-target="#results">
            <option value="" class="text-center">All</option>
            {% for language in languages.all %}
                <option class="text-center" value="{{ language.pk }}">{{ language.name }}</option>
            {% endfor %}
        </select>
    </form>
</div>
<div id="results"></div>
