{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Portfolio Website{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Libre Franklin' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<style>
body {
  font-family: 'Libre Franklin';font-size: 22px;
}
</style>
<body>
    <header>
      <nav class="navbar-gradient navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="ml-3 d-flex flex-row w-100 justify-content-center align-content-center page-title navbar-brand text-light" href="#">FACUNDO DUEÑAS</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">

          </button>
            <div class="d-flex flex-row navbar-nav ms-auto justify-content-evenly w-100">
              <a class="navbar-button-hover border-rounded px-2 nav-link active" aria-current="page" href="#">Home</a>
              <a class="navbar-button-hover border-rounded px-2 nav-link" href="#">Skills</a>
              <a class="navbar-button-hover border-rounded px-2 nav-link" href="#">Projects</a>
              <a class="navbar-button-hover border-rounded px-2 nav-link" href="#">About</a>
            </div>
        </div>
      </nav>
    </header>

    <main class="content">
        {% block content %}
        {% endblock %}
    </main>

    <footer> 
      <div class="card text-center navbar-gradient">
        <div class="card-header text-light">
          Footer
        </div>
        <div class="card-body text-light">
          <h5 class="card-title">Something something</h5>
          <p class="card-text">This button will go somewhere someday heh</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-body-secondary text-light h6">
          Facundo Dueñas - 2024
        </div>
      </div>  
    </footer>
</body>
</html>