{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Portfolio Website{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Libre Franklin' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    {% block extra_css %}{% endblock %}
</head>
<style>
body {
  font-family: 'Libre Franklin';font-size: 22px;
}
</style>
<body >
    <header>
      <nav class="primary-color navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="ml-3 d-flex flex-row w-100 justify-content-center align-content-center page-title navbar-brand text-light" href="#">FACUNDO DUEÑAS</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">

          </button>
            <div class="d-flex flex-row navbar-nav ms-auto justify-content-evenly w-100">
              <a class="navbar-button-hover border-rounded px-2 nav-link" id="home" aria-current="" href="#">Home</a>
              <a class="navbar-button-hover border-rounded px-2 nav-link" href="#project-list">Projects</a>
              <a class="navbar-button-hover border-rounded px-2 nav-link" href="#skill-list">Skills</a>
              <a class="navbar-button-hover border-rounded px-2 nav-link" href="#bottom_footer">My Links</a>
            </div>
        </div>
      </nav>
    </header>
    <a id="top_button" href="#" class="">
      <img class="svg-hover m-1 white-filter" width="24" height="24" src="{% static 'svg/arrow-up.svg' %}" alt="Scroll to Top"/>
    </a>
    
    <main class="content secondary-color pt-5">
        {% block content %}
        {% endblock %}
    </main>

    <div id="bottom_footer" class="primary-color pt-3">
      <div class="px-5">
        <div class="text-light text-center ">
          My links
        <div class="divider my-2">
          <a href="https://github.com/Unikv1" target="_blank"> <img class="svg-hover mx-2" width="50" height="50"  src="{% static 'svg/github-mark-white.svg' %}"/> </a>
          <a href="https://www.linkedin.com/in/facundo-dueñas" target="_blank"> <img class="svg-hover mx-2 white-filter" width="54" height="54"  src="{% static 'svg/linkedin.svg' %}" /> </a>
          <a href="mailto:facundoduenas1@gmail.com"> <img class="svg-hover mx-2 white-filter" width="50" height="50" src="{% static 'svg/email.svg' %}" /> </a>
          <a href="https://www.getonbrd.com/p/facundo-manuel-duenas" target="_blank" > <img class="svg-hover mx-2 white-filter" width="50" height="50" src="{% static 'svg/getonbrd.svg' %}" /> </a>
        </div>

        <p class="footer-copyright-text text-light text-center">© 2024 Facundo Dueñas</p>
      </div>  
    </div>

    
    <script src="{% static 'connecting_dots.js' %}"></script>
    <script src="{% static 'go_top.js' %}"></script>
    <script src="{% static 'htmx.min.js' %}"></script>
    <script src="{% static 'animate_text.js' %}"></script>
    <script src="{% static 'animate_cards.js' %}"></script>
    <script src="{% static 'animate_bars.js' %}"></script>
</body>
</html>

