{% extends "base.html" %}
{% load static %}
{% block content %}

<div  class="h-100">
    <div id="canvas-container" class="d-flex">
        

        <canvas id="canvas"></canvas>
        
        <div id="overlay" class="row canvas-position">
            <div class="row justify-content-center d-flex align-self-center ml-2">
                <div id="animatedText" class="col-md-auto canvas-text mt-4">   </div>
            </div>
            <div class="row justify-content-auto align-self-center justify-content-center  ml-2 pb-4">
                <div id="canvasDescription" class="canvas-description-position"> I have experience working with </div>
                <div id="canvasEmail" class="canvas-email text-light">facundoduenas1@gmail.com </div>
            </div>
        </div>
    </div>

    <div class="pt-5">
        <div class="divider-title">

            <h2 class="text-title-bold text-center mt-2 mx-4"> My Project History </h2>
            
        </div>

        <div class="container pb-4 pr-0 pl-4">
            <div class="row w-100 d-flex flex-wrap justify-content-center align-items-center align-self-center">
                <div class="project-card col-3 card m-2">
                    <div class="card-body">
                        <h5 class="card-title"> Project 1 </h5>
                        <p class="card-text text-muted">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                
                <div class="project-card col-3 card m-2">
                    <div class="card-body">
                        <h5 class="card-title"> Project 1 </h5>
                        <p class="card-text text-muted">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="project-card col-3 card m-2">
                    <div class="card-body">
                        <h5 class="card-title"> Project 1 </h5>
                        <p class="card-text text-muted">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="project-card col-3 card m-2">
                    <div class="card-body">
                        <h5 class="card-title"> Project 1 </h5>
                        <p class="card-text text-muted">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="project-card col-3 card m-2">
                    <div class="card-body">
                        <h5 class="card-title"> Project 1 </h5>
                        <p class="card-text text-muted">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="project-card col-3 card m-2">
                    <div class="card-body">
                        <h5 class="card-title"> Project 1 </h5>
                        <p class="card-text text-muted">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}