{% extends "base.html" %}
{% load static %}
{% block content %}

<div  class="h-100">
    <div id="start" class="row d-flex flex-column" style="visibility: hidden;"> </div>
    <div id="canvas-container" class="d-flex">
        
        <canvas id="canvas"></canvas>
        
        <div id="overlay" class="row canvas-position">
            <div class="row justify-content-center d-flex align-self-center ml-2 unselectable">
                <div id="animatedText" class="col-md-auto canvas-text mt-4 unselectable">   </div>
            </div>
            <div class="row justify-content-auto align-self-center justify-content-center  ml-2 pb-4">
                <div id="experienceElement" class="canvas-description-position unselectable"> I have experience working with </div>
                <div id="experienceElement1" class=" language-icons  unselectable">  
                    {% for language in languages %}
                        <img class="ml-2" title="{{ language.name }}" height="30" width="30" src="{% static '/svg/' %}{{ language.svg }}" />
                    {% endfor %}
                </div>
                <a href="mailto:facundoduenas1@gmail.com" style=" text-decoration: none;"><div id="experienceElement2" class="canvas-email text-light">facundoduenas1@gmail.com </div></a>
            </div>
        </div>
    </div>

    <div class="pt-5">
        <div class="divider-title">
            <a class="anchor h-100" id="project-list"> </a>
            <h2 id="projects_title" class="text-title-bold text-center mt-2 mx-4"> My Project History </h2>
        </div>
        
        <div class="container">
            <div id="project_executer" class="col d-flex flex-column align-self-center" style="visibility: hidden; height: 1px"> </div>
            <section>
                {% include 'partials/search.html' %}
            </section>
            
            <section>
                {% include 'partials/search-results.html' %}
            </section>

        </div>
    </div>

    
    <div class="pt-5">
        <div class="divider-title">
            <a class="anchor" id="skill-list"> </a>
            <h2 id="projects_title" class="text-title-bold text-center mt-2 mx-4"> My Skill Set </h2>
        </div>
        <div class="container">
            <div class="skill-list ">
                <div class="skill-div">
                    <div id="skills_executer" class="col d-flex flex-column align-self-center" style="visibility: hidden; height: 1px"> </div>
                        {% for language in languages.all %}
                            <div class="row-sm-3 d-flex flex-row">
                                <img class="m-3" title="{{ language.name }}" height="60" width="60" src="{% static '/svg/' %}{{ language.svg }}" />
                                <div class="progress-bar">
                                    <div class="bar" data-size="{{ language.expertise_level }}">
                                    <span class="perc"></span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                </div> 
            </div>
        </div>
    </div>
</div>


{% endblock %}